<h1>Log In</h1>

<% if flash[:error] %>
  <%= flash[:error] %>
  <br><br>
<% end %>

<form method="POST" action="/login">
  <p><label for="username">username: </label>
  <input type="text" id="username" name="username"></p>
  <p><label for="password">password: </label>
  <input type="password" id="password" name="password"></p>
  <p><input type="submit" value="Log In"></p>
</form>