<h1>Welcome, <%= @user.username %>!</h1>
<h2>Here are your medications:</h2>

<ul>
<% @user.medications.each do |medication| %>
  <li><a href="/medications/<%= medication.id %>"><%= medication.name %></a></li>
<% end %>
</ul>
<br><br>
<form action="/medications/new">
  <button type="submit">Add a Medication</button>
</form>
<form action="/logout">
  <button type="submit">Log Out</button>
</form>