<h1>Add a Medication</h1>

<% if flash[:error] %>
  <%= flash[:error] %>
  <br><br>
<% end %>

<form method="POST" action="/medications">
  <p>Name: <input type="text" name="name"></p>
  <p>Dose: <input type="text" name="dose"></p>
  <p>Refill Date: <input type="text" name="refill_date"></p>
  <p>Notes: <input type="text" name="notes"></p> 
  <p><input type="submit" value="Add Medication"></p>
</form>